<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.velociter.ems.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.velociter.ems.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.velociter.ems.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpServlet</display-name>
    <servlet-name>ExpServlet</servlet-name>
    <servlet-class>com.velociter.ems.ExpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpServlet</servlet-name>
    <url-pattern>/ExpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.velociter.ems.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.velociter.ems.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>com.velociter.ems.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeListServlet</display-name>
    <servlet-name>EmployeeListServlet</servlet-name>
    <servlet-class>com.velociter.ems.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListServlet</servlet-name>
    <url-pattern>/EmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDesignationServlet</display-name>
    <servlet-name>UpdateDesignationServlet</servlet-name>
    <servlet-class>com.velociter.ems.UpdateDesignationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDesignationServlet</servlet-name>
    <url-pattern>/UpdateDesignationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTaskServlet</display-name>
    <servlet-name>CreateTaskServlet</servlet-name>
    <servlet-class>com.velociter.ems.CreateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTaskServlet</servlet-name>
    <url-pattern>/CreateTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskServlet</display-name>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <servlet-class>com.velociter.ems.UpdateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <url-pattern>/UpdateTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTasksServlet</display-name>
    <servlet-name>ListTasksServlet</servlet-name>
    <servlet-class>com.velociter.ems.ListTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTasksServlet</servlet-name>
    <url-pattern>/ListTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTasksServlet</display-name>
    <servlet-name>ShowTasksServlet</servlet-name>
    <servlet-class>com.velociter.ems.ShowTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTasksServlet</servlet-name>
    <url-pattern>/ShowTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskStatusServlet</display-name>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <servlet-class>com.velociter.ems.UpdateTaskStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <url-pattern>/UpdateTaskStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.velociter.ems.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRoleServlet</display-name>
    <servlet-name>ListRoleServlet</servlet-name>
    <servlet-class>com.velociter.ems.ListRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoleServlet</servlet-name>
    <url-pattern>/ListRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoleServlet</display-name>
    <servlet-name>CreateRoleServlet</servlet-name>
    <servlet-class>com.velociter.ems.CreateRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoleServlet</servlet-name>
    <url-pattern>/CreateRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDepartmentServlet</display-name>
    <servlet-name>ListDepartmentServlet</servlet-name>
    <servlet-class>com.velociter.ems.ListDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDepartmentServlet</servlet-name>
    <url-pattern>/ListDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDepartmentServlet</display-name>
    <servlet-name>CreateDepartmentServlet</servlet-name>
    <servlet-class>com.velociter.ems.CreateDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDepartmentServlet</servlet-name>
    <url-pattern>/CreateDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropdownServlet</display-name>
    <servlet-name>DropdownServlet</servlet-name>
    <servlet-class>com.velociter.ems.DropdownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropdownServlet</servlet-name>
    <url-pattern>/DropdownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckZipcodeServlet</display-name>
    <servlet-name>CheckZipcodeServlet</servlet-name>
    <servlet-class>com.velociter.ems.CheckZipcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckZipcodeServlet</servlet-name>
    <url-pattern>/CheckZipcodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.velociter.ems.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>